<ul class="list-unstyled">
  <% tasks.each do |task| %>
    <li>
      <p><%= link_to 'タスク', task_path(task) %>：<%= task.content %></p>
      <p>進捗状況：<%= task.status %></p>
    </li>
  <% end %>
  <%= paginate tasks %>
</ul>